<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Thi site was created by Derek. It uses data from mapbox.com and darksky.net</p>
            <p>About page</p>
        </div>
   
       
        {{>footer}}
    </body>
    </html>
    